.logo {
  font-size: 80px;
  color: white;
  font-weight: 600;
  animation: fadeGlow 3s ease-in-out infinite;
}

@keyframes fadeGlow {
  0% {
    opacity: 0;
    text-shadow: 0 0 0px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 20px white;
  }
  100% {
    opacity: 0.6;
    text-shadow: 0 0 5px white;
  }
}
